 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #0044cc;
            color: white;
            padding: 20px 10px;
            text-align: center;
        }
        header img {
            max-height: 80px;
            vertical-align: middle;
        }
       header h1 {
            display: inline;
            margin-left: 10px;
            font-size: 24px;
        }
        nav {
            background: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
        section {
            padding: 20px;
            text-align: center;
            ont-size: 32px;
            float: left;
        }
        footer {
            background: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
       
